*
{
    padding: 0;
    margin: 0;
}
body
{
   background-image: url(2.6.png);
   background-size: cover;
 
   box-sizing: border-box;
   font-family: sans-serif;
  
}
.menu-bar
{
    background: rgb(45, 52, 56);
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: white;
}

.menu-bar ul li 
{
    width: 120px;
    margin: 7px;
    padding: 7px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: white;
}
.active,.menu-bar ul li:hover
{
background: #b2adb4;
border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(45, 52, 56);
    margin-top: 15px;
    margin-left :-15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: blue;
}

.fa-angle-right
{
    float: right;
}
.sub-menu-2
{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top:-40px ;
    margin-right: 140px;
    background: rgba(red, green, blue, alpha);
}
.icon {
    font-size: 32px;
  }
